   /* bar................................ */
   
   .introduce-container {
    position: relative;
}

.introduce-container::before {
    content: "";
    background-color: #F3F3F3;
    position: absolute;
    top: var(--nav-height);
    left: 0;
    right: 0;
    bottom: 0;
}

.bar-menu {
    font-size: 14px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 23px 20px;
    font-weight: 500;
}

.bar-menu i {
    margin-right: 20px;
}

.bar-list {
    list-style: none;
    background-color: var(--white-color);
    position: relative;
}

.bar-item {
    color: var(--text-color);
    font-size: 16px;
    border-top: 1px solid #ECF0F1;
    margin: 0 20px;
    padding: 16px 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.bar-item::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: -35px;
    width: 30px;
    height: 100%;
}

.bar-item:hover .bar-item_propose {
    display: flex;
}

.bar-item img {
    margin-right: 4px;
    height: 25px;
}

.bar-item i {
    margin-left: auto;
    font-size: 10px;
    color: var(--text-opacity);
}
/* propose.......................................... */

.bar-item_propose {
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(100% + 32px);
    background-color: var(--white-color);
    box-shadow: 3px 4px 2px rgb(0 0 0 / 10%), 0px 0px 2px rgb(0 0 0 / 20%);
    display: none;
}

.bar-item_propose-list {
    list-style: none;
    margin: 16px 20px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.bar-item_propose-item {
    font-size: 12px;
    color: var(--text-color);
    padding: 10px 0;
    line-height: 18px;
}

/* .bar-item_propose-item:first-child {
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 24px;
    border-bottom: 1px solid #E6E6E6;
} */

/* .bar-item_propose-item:nth-child(2) {
    padding-top: 24px;
} */

.bar-item_propose-item:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    line-height: var(--nav-height);
    background-color: var(--white-color);
}

.nav-item {
    font-size: 13px;
    color: var(--text-opacity);
    position: relative;
}

.nav-item:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.nav-item:hover .bar-item_propose {
    display: flex;
}

.nav-item_propose {
    top: 100%;
    left: -400%;
}
/* slider.................................. */

.slider-container {
    position: relative;
}

.slider-imgs {
    overflow: hidden;
    display: flex;
}

.slider-img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
}

.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgb(182, 179, 179);
    margin: 0 12px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
    color: var(--white-color);
    opacity: 0.8;
}

.slider-next:hover,
.slider-prev:hover {
    opacity: 1;
}

.slider-next {
    right: 0;
    left: unset;
}

.slider-radio {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slider-radio_item {
    width: 11px;
    height: 11px;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    margin-bottom: 16px;
    transition: all 0.2s linear;
}

.slider-radio_item:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.slider-radio_item.active {
    background-color: var(--primary-color);
}

.slider-radio_item:not(:last-child) {
    margin-right: 16px;
}